.container {
	margin: 0;
	padding: 0;
	background-color: black;
	height: 80vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.branding {
	position: absolute;
	top: 50%;
	right: 8%;
}

.logo {
	font-size: 30px;
	color: white;
}
