.container {
	background-color: white;
	font-size: 18px;
	padding: 1rem;
	line-height: 1.5;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 2rem 1rem;
}

.textCentered {
	text-align: center;
}

.highlights {
	color: rgb(255, 84, 0);
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%;
	overflow: hidden;
}

.card {
	margin: 2rem;
	padding: 2rem;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	transition: color 0.5s ease;
	width: 500px;
	height: auto;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card:hover {
	transition: all 0.5s ease;
	color: white;
	background-color: rgb(102, 102, 102);
	border: 3px solid white;
	box-shadow: rgba(14, 30, 37, 0.9) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.9) 0px 2px 16px 0px;
}

.photos {
	background-color: rgb(172, 172, 172);
	border-radius: 10px;
}

@media (max-width: 600px) {
	.container {
		padding: 0.5rem;
	}
	.main {
		padding: 0.5rem;
	}
	.grid {
		margin: 1rem 0;
		width: 100%;
		flex-direction: column;
	}
	.card {
		margin: 1rem 0;
		padding: 0.5rem;
		width: 90%;
		min-height: 150px;
		justify-content: center;
		align-items: center;
	}
}
