.container {
	margin: 0;
	padding: 0;
	display: grid;
	overflow: hidden;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(98, 320px);
}

.imgContainer {
	height: 320px;
	width: 320px;
	padding: 10px;
}

.imgItem {
	height: 320px;
	width: 320px;
}

.arrowContainer {
	display: flex;
	justify-content: space-between;
}

.arrowLeft,
.arrowRight {
	align-content: center;
	background-color: white;
	padding: 5px;
	cursor: pointer;
}
